html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

img {
  width: 100%;
  height: auto;
}

.banner {
  max-width: 1280px;
  min-width: 0;
  margin: auto;
}

.content {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  position: fixed;
  font-size: small;
  bottom: 0;
  width: 100%;
  height: 48px;
  text-align: center;
  background-color: black;
}

.postCard {
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 1px 3px 5px 2px gray;
  padding: 1em 3em;
  width: 80%;
  max-width: 800px;
  margin: 2em 0;
}

.postCard:hover {
  box-shadow: 1px 3px 5px 2px snow;
}